#sobre, #especialidades, #contatos {
    padding: 40px 20px 0;
}

.box-visao-geral {
    position: relative;
    background-image: url('../assets/recepcao.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.box-visao-geral-titulo {
    height: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.box-visao-geral-titulo h1 {
    font-size: 38px;
    text-transform: uppercase;
    margin: 0;
}

.box-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-sobre img {
    height: 250px;
}

.box-sobre h3 {
    text-transform: uppercase;
}

.box-especialidades {
    display: flex;
    align-items: center;
}

.box-especialidade {
    box-shadow: 0px 1px 10px rgb(0, 0, 0 / 50%);
    width: calc(100% / 3 - 40px);
    margin: 20px;
    border-radius: 3px;
}

.box-especialidade:hover {
    background-color: #0d6e71;
    color: #fff;
    font-weight: 700;
    width: 300px;
}

.box-especialidade img {
    width: 100%;
}

.box-especialidade figcaption {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.box-link-horarios {
    text-align: center;
    margin-top: 20px;
}

.btn-horarios {
    background-color: #00cad1;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-horarios:hover {
    font-weight: 700;
    background-color: #0d6e71;
}

@media (max-width:475px) {

    .box-visao-geral-titulo  h1{
        font-size: 22px;
    }
    .box-sobre img {
        display: none;
    }

    .box-visao-geral {
        height: 200px;
    }

    .box-especialidades {
        flex-direction: column;
        justify-content: center;
    }

    .box-especialidade {
        width: 100%;
    }

    .box-especialidade {
        width: 100%;
    }
}